:root {
    --main-color: #191414;
    --text-color: #C3D2D5;


}



* {
    background-color: var(--main-color);
    color: var(--text-color);
}

#search-area {
    display: flex;
    border: grey;

}


h1 {
    text-align: justify;
}

h2 {
    text-align: justify;
    border: red;
}

label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}


#search {
    background-color: rgba(211, 211, 211, 0.534);
    color: var(--main-color);
    border-radius: 4rem;
    margin-right: 5px;
    margin-left: 5px;
    
}

button {
    background-color: green;
    border-radius: 4rem;
}

#content-area {
    display: flex;
    
}

#weather-box {
    display: flex;
}

#playlist-box {
    display: flex;
}

