:root {
    --main-color: #191414;
    --text-color: #C3D2D5;
    --content-background: #cfcecd;
    --border-color: #878582;

}



* {
    background-color: var(--main-color);
    color: var(--text-color);
}

#search-area {
    display: flex;
    border: grey;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 25px;

}


h1 {
    text-align: center;
    border-bottom: var(--border-color);
    border-style: groove;
    padding: 20px 0 20px 0;
}

h2 {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;    
    border:var(--border-color);
    border-style: solid;
    
}
label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}


#search {
    background-color: rgba(211, 211, 211, 0.445);
    color: var(--main-color);
    border-radius: 4rem;
    margin-right: 5px;
    margin-left: 5px;
    
}

button {
    background-color: rgb(163, 163, 163);
    border-radius: 4rem;
}

.button:hover {
    background-color: white;
    color: black;
}

#content-area {
    display: flex;    
    width:100%;
    height:100px;
}

#content-area div {
    flex-basis: 100%;
}


#weather-box {
    background-color: rgba(169, 169, 169, 0.377);
    
}

#playlist-box {
    background-color: rgba(169, 169, 169, 0.377);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(169, 169, 169, 0.377);
}

footer p {
    background-color: rgba(169, 169, 169, 0.377);
    color: #fff;
    text-align: center;
}

footer h3 {
    text-align: center;
}

