:root {
    --main-color: #191414;
    --text-color: #C3D2D5;
    --content-background: #cfcecd;
    --border-color: #333533;
}


/*TESTING SEARCH BAR*/

body {
	background: #DDD;
	font-size: 15px;
}
#wrap {
  margin: 50px auto;
  padding-bottom: 50px;
  display: inline-block;
  position: relative;
  height: 60px;
  /* float: right; */
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 60px;
  font-size: 25px;
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 50;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position:static;
  top: 100px;
  right: 50px;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:red;
  /* float: right; */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}







/*LEAVE WHAT'S BELOW*/

body {
    /* height: 100%; */
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

main {
    margin-bottom: 100px;
}

* {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: "Montserrat";
}

/* #search-area {
    display: flex;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 25px;
} */

.destination{
    font-size: 25px;
    margin-left: 70px;
    text-align: center;
}

h1 {
    text-align: center;
    border-bottom: var(--border-color);
    border-style: groove;
    padding: 20px 0 20px 0;
}

h2 {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px; 
    padding-left: 10px; 
    padding-right: 10px;  
    
    border-style: solid;
    
}

label {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
}


#search-input {
    background-color: rgba(238, 238, 238, 0.24);
    color: var(--main-color);
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    
}

button {
    background-color: rgb(141, 60, 60);
    border-radius: 4rem;
}

button:hover {
    background-color: white;
    color: black;
}


#content-area div {
    flex-basis: 100%;
}


#weather-box {
    background-color: var(--main-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.l-box{
    padding-right: 10px;
}


#playlist-box {
    background-color: rgba(169, 169, 169, 0.377);
}

.l-box {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
}

.basic-info {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info h3 {
    font-size: 30px;
}

.basic-info p {
    margin-bottom: 5px;
    margin-top: 5px;
}

.weather-info {
    text-align: center;
}

.weather-info h4 {
    font-size: 30px;
    margin-bottom: 5px;
}

.weather-info p {
    font-size: 20px;
    margin-bottom: 30px;
}

.weather-info i {
    font-size: 150px;
}

.embedded-player-container iframe{
    display: block;
    margin:auto;
}

.playlist-description p {
    text-align: justify;
    margin: 5%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(112, 112, 112);
}

.footer h3 {
    text-align: center;
    background-color: rgb(112, 112, 112);

}
.footer p {
    color: #fff;
    text-align: center;
    background-color: rgb(112, 112, 112);
}